*
{
font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
box-sizing: border-box;
color:  #2d2f33;
}

.quoraCard
 {  
  max-width: 400px;
  height: 275px;
  border: 1px solid #d9e5f2;
  border-radius: 7px; 
  margin: 0 auto;
  }

.backdrop
 {
  height: 40%;
  background-image: url(bk3.png);
  }

img
  { 
  width: 75px;
  height: 75px;
  border-radius: 100%;
  border: 3px solid #fff;
  margin-top: -10%;
  margin-left: 41%
  }

h1
  {  
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 200;
  text-align: center; 
  }

ul
  { 
  margin: 0;
  border: 1px solid #d9e5f2;
  list-style-type: none;
  padding: 0;   
  }

li
  { 
  width: 33%;
  text-align: center;
  border-right: 1px solid #d9e5f2; 
  float: left;
  padding: 7px 7px;
  }

li:last-of-type
  {
  border-right: none;  
  }

span
  {
  font-weight: bold;
  line-height: 1.5;
  display: block;
  }