  <link rel="stylesheet" type="text/css" href="../static/styles/card.css">
  <div class="quoraCard">

    <div class="backdrop">

      <a id='profileLink' href={{profileurl}} target='_blank'>
      <img class='user_redirect' src='../static/images/quora.jpeg'>
    </a>

    </div>

  <img src={{imgUrl}}>
    
  <div class="userDetails">

        
    <h1 class='profileName'>{{profileName}}</h1>
        
    <ul class="stats">
          
      <li id="answers">
        <span>{{answerCount}}</span>Answers
      </li>
        
      <li id="followers">
        <span>{{followerCount}}</span>Followers
      </li>   
          
      <li id="views" class="last">
        <span>{{viewCount}}</span>Views
      </li>
        
    </ul>
    {% if tpFlag==1 %}
    <img class="topWriter" src="../static/images/topwritertag.png">
    {% endif %}
  </div>  
  </div>

