<!DOCTYPE html>
<html>
	<head>
		<title> Quora Card</title>
		<meta charset="UTF-8">
		<meta name="description" content="A Card generator for Quora users">
		<meta name="author"	content="S.Krishnan">
		<link rel="stylesheet" type="text/css" href="static/styles/main.css"> 
		<script src="static/scripts/jquery-3.1.1.min.js"></script>
		<script src="static/scripts/details-request.js"></script>
	</head>

	<body>

		<div class="header">
		  <h1>Quora User Card</h1>
		  <p> Get your Quora profile as a card</p>

		  <input type="text" id="getUserName" placeholder="Quora profile url eg.www.quora.com/profile/S-Krishnan-1" name="profileLink" required></input>
		  <button type="submit" id="ok">Ok</input>
		</div>
		
		<div class="mainContent">
			
<div class="card">
		 	</div>

		 	<footer>

		 		<p>Created by <a href="https://github.com/skrishnan22"> S.Krishnan</a></p>
		 	</footer>		
		</div>
	
	</body>
</html>	
